<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="content-area">
    <div class="account-page">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
                <h2>Tài khoản của tôi</h2>
                <ul>
                    <li class="active"><a th:href="@{/profile}">Thông tin cá nhân</a></li>
                    <li></li>
                    <li class="active"><a th:href="@{/changeP}">Đổi mật khẩu</a></li>
                    <li></li>
                    <li class="active"><a th:href="@{/cart}">Giỏ hàng</a></li>
                    <li></li>
                    <li class="active"><a th:href="@{/help}">Help</a></li>
                    <li></li>
                    <li class="active"><a th:href="@{/logoff}">Đăng xuất</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <h2>Edit Account</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                    	<form th:action="@{/profile}" method="post" th:object="${account}" cssClass="cmxform" id="accountForm2">
                    		<div class="form-group row">
                                <label for="username" class="col-sm-2 form-control-label">Tài khoản:</label>
                                <div class="col-sm-8"> 
                                	<input th:filed="*{username}" th:value="${#request.remoteUser}" type="hidden">
                                    <p class="form-control-static">[[${#request.remoteUser}]]</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fullname" class="col-sm-2 form-control-label">Họ tên:</label>
                                <div class="col-sm-8">
                                    <input th:field="*{fullname}" cssClass="form-control" id="fullname" required="required"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sdt" class="col-sm-2 form-control-label">SĐT:</label>
                                <div class="col-sm-8">
                                    <input th:field="*{sdt}" cssClass="form-control" id="sdt" pattern="^0(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}$" required="required"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 form-control-label">Email:</label>
                                <div class="col-sm-8">
                                    <input th:field="*{email}" class="form-control" id="email" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" required="required"/>
                                </div>
                            </div>               
                            <div class="form-group row">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <input type="submit" class="btn btn-yellow btn-lg" id="submitForm" value="Lưu" />
                                </div>
                            </div>
                            <div th:replace="/notify/Alert.html" class="notify"></div>
                    	</form> 	
                    </div>
                </div> <!--End Row-->
            </div>
        </div> <!--End Row-->

    </div>
</div> <!--End Account page div-->
</div> <!-- End content Area class -->
	</main>
</body>
</html>