  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Giới thiệu</h6>
            <p class="text-justify">Trang web thương mại điện tử <i>TPD SHOP</i> tự hào về các sản phẩm điên thoại hàng đầu. Luôn cung cấp các
             sản phẩm mới nhất của các hãng điện thoại hàng đầu thế giới như Samsung, Iphone, Xiaomi, Nokia,.... Web luôn đảm bảo chất 
             lượng ở mức tốt nhất với mức giá hợp lý nhất. Kèm theo đó là các chính sách khuyến mãi hấp dẫn, đảm bảo khách hàng có thể có sản
             phẩm ưng ý nhất.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Các hãng nổi bật</h6>
            <ul class="footer-links">
              <li><a href="#">Iphone</a></li>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">Realmi</a></li>
              <li><a href="#">Xiaomi</a></li>
              <li><a href="#">BlackBerry</a></li>
              <li><a href="#">Nokia</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Thông tin</h6>
            <ul class="footer-links">
              <li><a href="#/">Thông tin</a></li>
              <li><a href="#">Liên hệt</a></li>
              <li><a href="#">Đối tác</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
              <li><a href="#">Số 17 đường Nguyễn Thái Học, thành phố Cần Thơ</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">TPD Shop</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>