<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin/home">Trang chủ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#!admin/authorize">Phân quyền</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quản trị
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              
              <li><a class="dropdown-item" href="#!admin/category">Nhãn hàng</a></li>
              <li><a class="dropdown-item" href="#!admin/account">Tài khoản</a></li>
              <li><a class="dropdown-item" href="#!admin/product">Sản phẩm</a></li>
              <li><a class="dropdown-item" href="#!admin/order">Đơn hàng</a></li>
              <li><a class="dropdown-item" href="#!admin/report">Thống kê</a></li>
              <li class="dropdown-item">____________________</li>
              <li><a class="dropdown-item" href="/logoff">Đăng xuất</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>