<div class="bodya">
	<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <img style="height: 100px;width: 150px; border-top-right-radius: 50%;border-bottom-left-radius: 50%;" alt="" src="/images/logo.png">
  </div>
  <div align="center" class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">TRANG QUẢN TRỊ</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Danh mục</p>
    <div style="width: 25%;border-radius: 10px;opacity: 50%" class="list-group">
	  <a style="text-decoration: none;color: windowtext;" href="#!admin/category">
	  <button style="color: windowtext;" type="button" class="list-group-item list-group-item-action">Nhãn hàng</button></a>
	  <a style="text-decoration: none;color: windowtext;" href="#!admin/account">
	  <button style="color: windowtext;" type="button" class="list-group-item list-group-item-action">Tài khoản</button></a>
	  <a style="text-decoration: none;color: windowtext;" href="#!admin/product">
	  <button style="color: windowtext;" type="button" class="list-group-item list-group-item-action">Sản phẩm</button></a>
	  <a style="text-decoration: none;color: windowtext;" href="#!admin/order">
	  <button style="color: windowtext;" type="button" class="list-group-item list-group-item-action">Đơn hàng</button></a>
	  <a style="text-decoration: none;" href="#!admin/report">
	  <button style="color: windowtext;" type="button" class="list-group-item list-group-item-action">Thống kê</button></a>
	</div>
  </div>
  <div align="center" class="w3-display-bottomleft w3-padding-large">
   Quản lý web: <a href="/home" target="_blank">TPD Shop</a>
  </div>
</div>
</div>